.section {
    background-color: white;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

.section__header {
    padding: 0px 15px;
    border-bottom: 1px solid #ddd;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

@media (max-width: 767px) {
    .section__header {
        grid-template-columns: 1fr;
    }
}